@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: #151515;
    color: #ffff;
}

h1{
    text-align: center;
    font-size: 3.4rem;
}
button{
    width: 150px;
    height: 150px;
    box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.6);
    background-size: cover;
    background-position: center;

}

main{
    display: flex;
    justify-content: center;
    gap: 2%;
} 

span{
    font-size: 2rem;
    font-weight: 700;
    text-shadow:
    -1px -1px 0px #FFF, 
    -1px 1px 0px #FFF,                    
     1px -1px 0px #FFF,                  
     1px 0px 0px #FFF;
}

footer{
    text-align: center;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    box-shadow: inset 0 0 10px 5px rgb(112, 24, 24);
}

/*Imagens dos Botões*/

.btn1{
    background-image: url(./images/crash.png);
}

.btn2{
    background-image: url(./images/kick.png);
}

.btn3{
    background-image: url(./images/snare.png);
}

.btn4{
    background-image: url(./images/tom1.png);
}

.btn5{
    background-image: url(./images/tom2.png);
}

.btn6{
    background-image: url(./images/tom3.png);
}

.btn7{
    background-image: url(./images/tom4.png);
}